/test
/demo
/example
/public

# source
src/App.vue
src/main.js
src/icons

# config file
vue.config.js
babel.config.js
jsconfig.json
.eslintrc.js
.browserslistrc
.gitignore
.czrc

# lock file
package-lock.json
yarn.lock